/*============= boardList ==============*/

.productcard #cardA{
	text-decoration: none;
	color: black;
}

#contentDiv .detailButton:hover {
	cursor: pointer;
	background: #eceaee;
}

/*============= END boardList ==============*/