

/*============= CreateProduct ==============*/
.add-product-title {
	text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
}

.inputArea {
	margin: 20px;
	line-height:38px;
}

.container .input-group .form-control:focus,
.container .input-group select:focus {
	border: 1px solid rgb(244, 198, 33);
	box-shadow: 0 0 5px 0.20rem rgba(244, 198, 33, 0.475);
}

a#main {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: tomato;
	text-align: center;
	line-height: 50px;
	margin-right: 20px;
	text-decoration: none;
	color: white;
	
	position: fixed;
	bottom: 20px;
	right: 10px;
}