@charset "UTF-8";

.board-detail-container {
	margin-top: 20px;
}

.regReply {
	margin-top: 50px;
}

#reply {
	border: none;
	resize: none;
}

#board-detail-content .note-editor {
	border: none;
}

#board-detail-content .note-editing-area {
	border-radius: 7px;
}

#title {
	border: none;
	background: #fff9d6;
	font-size: 22px;
	text-align: center;
}

#title:focus {
	box-shadow: none;
}

#writeForm .container hr {
	margin: 0;
}

#replyModal textarea {
	resize: none;