
/*============= Order ==============*/
.order-title {
	text-align: center;
	font-weight: 700;
	margin: 70px;
}

#orderform .productDetail .order-imgBox {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding: 0;
}

.container .productDetail #productThumb1 {
	height: 100%;
	object-fit : fill;
}

.container .productDetail #productThumb2 {
	height: 100%;
	object-fit : fill;
}

.productDetail .order-detailBox {
	margin-left: 20px;
	padding-top: 10px;
}

.order-form {
	line-height: 38px;
}

#conf-group {
	display: none;
}

.inputArea {
	margin: 20px;
}

#checkdeAccount {
	display: none;
}