﻿a:hover {
	color: #ffc107;	
}

.btn-duck {
	background: #ffc107;	
}

article, aside, details, figcaption, figure, footer, header, hgroup,
   main, menu, nav, section {
   display: block
}

[hidden] {
   display: none
}

body {
   line-height: 1;
   background: #fff9d6;
}

menu, ol, ul {
   list-style: none
}

blockquote, q {
   quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
   content: '';
   content: none
}

table {
   border-collapse: collapse;
   border-spacing: 0
}



/*=========웹폰트 선언=========*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*===========================*/

/*디자인 시작시 기본 선언*/
* { /* 기본선언: 마딩, 패딩 0, 요소크기에 padding, border값을 포함 x*/
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	min-width: 320px;
	font-family: 'GangwonEdu_OTFBoldA', sans-serif;
	font-size:18px;
}

img {
	max-width: 100%; /*사이즈가 변해도 넓이를 유지 */
	height: auto; /*사이즈가 변해도 높이를 유지 */
	/*vertical-align: top;*/
}

input, textarea, button, select {
	/*고유하게 적용되어있는 form관련 요소들을 제거해서 여러브라우저에서 동일한디자인을 얻게함*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none
}

ul, ol, dl, li {
	list-style: none /*순서 요소들이 리스트스타일을 업앤다 */
}
  .clearfix::after{
            content:'';
            display: block;
            clear:both;
        }

.btn {
	border-radius: 0px;
}
/*============ home ============*/

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

#main_container_one {
	margin-top: 15px;
	margin-bottom: 70px;
}

#section_gap_id {
	background: #fff9d6;
}

.section_title {
  margin-bottom: 75px;
}

.section_title h2 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
}

.section_title p {
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  margin-bottom: 0px;
}

.title_w {
  color: rgb(0, 0, 0);
}

.facilities_area {
  position: relative;
  z-index: 1;
  background: #ffffff;
  overflow: hidden;
}

.facilities_area .bg-parallax {
  background: url("../image/facilites_bg.jpg") no-repeat scroll center 0/cover;
  opacity: 0.15;
}

.facilities_item {
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: rgba(249, 249, 255, 0.102);
  padding: 31px 40px 37px;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.facilities_item .sec_h4 {
  padding-bottom: 18px;
  color: rgb(0, 0, 0);
}

.facilities_item .sec_h4 i {
  color: #ff0000;
  font-size: 24px;
  line-height: 38px;
  display: inline-block;
  vertical-align: bottom;
  padding-right: 20px;
}

.facilities_item p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0px;
}

/*============ END home ============*/
/*============ swiper ============*/
.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*============ END swiper ============*/

/*============= header ==============*/

header{
   height: 160px;
   font-size: 20px;
}

#main-img {
   text-align: center;
   padding-top: 10px;
}

#main-img a img {
   width: 140px;
}

#navbarNav {
   z-index: 1000;
}

@media screen and (max-width: 992px) {
   .nav-container {
      position: relative;
   }
   
   .nav-container .login-box {
      position: absolute;
       right: 10px;
       top: 3px;
   }
   
   .navbar .container .navbar-collapse .navbar-nav{
      background-color: white;
      border-radius: 2%;
	}
}
   
.nav-category li .dropdown-toggle::after {
   display: none;
}

.container input:focus,
.container select:focus,
.login-form #userId:focus,
.login-form #userPw:focus {
   border: 1px solid rgb(255, 193, 7);
   box-shadow: 0 0 5px 0.20rem rgba(255, 193, 7, 0.475);
}


/*============= END header ==============*/
/*=============== footer ================*/
.f-wrap{
   color:black;
}

.f_box{
   line-height:25px;
}

.f_box a {
	text-decoration: none;
	color: black;
}

/*============= END footer ==============*/