@charset "UTF-8";

#userJoin-wrap .title,
#userJoin-wrap .content,
#userJoin-wrap .buttons {
	text-align: center;
}

#userJoin-wrap .buttons {
	margin-top: 100px;
}

#userJoinSuccessPage .title ol li {
	display: inline-block;
}