@charset "UTF-8";

/*============= 아이디 찾기 ==============*/



#userFindAccount .find-account {
	margin: 0;
	text-align: center;
}

#userFindAccount .middleBox{
	text-align: center;
}

#userFindAccount .sub-title{
	font-size: 20px;
	margin-top: 20px;
}

#userFindAccount .sub-title .radio{
	font-size: 16px;
	
}

#userFindAccount form .find-input {
	display: inline-block;
	width: 300px;
	text-align: center;
	
	margin-top: 5px; 
}

#userFindAccount form #userId {
	display: block;
}

#userFindAccount form #email-btn {
	display: inline-block;
}

#userFindAccount form #email-auth-code { 
	width: 205px;
}

#userFindAccount form .btn-outline-secondary { 
	vertical-align: unset;
}

#userFindAccount .input-group .find-input:focus{
	border: 1px solid rgb(255, 193, 7);
	box-shadow: 0 0 5px 0.20rem rgba(255, 193, 7, 0.475);
}


/*============= 아이디 찾기 결과  userFindAccount2 ==============*/

#findAccountRes {
	
	text-align: center;
	margin: 150px;
}

#findAccountRes .container .resultBox {
	width: 500px;
	margin: 0 auto;
	border: 1px solid black;
	padding: 80px;
}

#findAccountRes .container .foot-lnk a{
	text-decoration: none;
	display: block;
}

#findAccountRes .container .foot-lnk a:first-child {
	margin-top: 25px;
}

/*============= 비밀번호 찾기  userFindPW ==============*/

#userFindPw {
	text-align: center;
	margin-top: 60px;
}

#userFindPw .middleBox {
	margin: 0 auto;
	max-width: 300px;
}

#userFindPw .middleBox .findPwForm {
	margin-top: 20px;
}

#userFindPw .middleBox .findPwForm input:first-child {
	margin-top: 20px;
}

#userFindPw .middleBox .findPwForm input:last-child {
	margin-bottom: 20px;
}















