
/*============= 회원가입 페이지 ==============*/

#userJoinPage {
	padding: 0;
	background: black;
	color: white;
}


#userJoinPage .breadcrumb {
	background: black;
}

#userJoinPage em {
	font-weight: 700;
}

#userJoinPage .location-wrap {
	padding: 20px 0;
}

#userJoinPage .location-wrap a {
	padding: 20px 0;
	color: white;
	font-weight: 400;
}

#userJoinPage .location-wrap a:hover {
	text-decoration: none;
}

#userJoinPage .title {
	padding: 20px 0;
	text-align: center;
}

#userJoinPage .title h2 {
	padding: 30px 0;
	font-weight: 700;
	font-size: 50px;
	
}

#userJoinPage .title ol li {
	display: inline-block;
}

#userJoinPage .join-container {
	text-align: center;
	margin-bottom: 130px; 
}

#userJoinPage .join-container img {
	width: 200px;
	height: 200px;
	/* display: inline-block; */
	border-radius: 50%;
}

#userJoinPage .join-container .file-upload span {
	font-size: 105px;
	position: relative;

	top: -38px;
	left: -16px;
	
}

#userJoinPage .join-container .file-upload {
	position: relative;
	overflow: hidden;

	width: 60px;
	height: 60px;
   
	top: -60px;
	left: 65px;
	border-radius: 50% !important;
	background: #76b1de;
	text-transform: uppercase;
	font-size: 13px;
	border:none !important;
	box-shadow: none !important;
	color: #fff !important;
	text-shadow:none;
	padding: 5px 10px !important;
	display: inline-block;
	vertical-align: middle;
	opacity: 0.95;
}

#userJoinPage .join-container .file-upload .upload {
	position: absolute;

	border:1px solid red !important;
	top: 0px;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 100px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#userJoinPage .join-container form input.btn-a {

	border-radius: 20px;
	margin-top: 10px;

	width: 300px;
	height: 50px;
	font-size: 20px;
	color: white;
	
	cursor: auto;
	
	background:rgba(255,255,255,.1)

}

@media screen and (min-width: 768px) {
	
	#userJoinPage .join-container form input.btn-a:hover {
		width: 500px;
	}
	
}

@media screen and (max-width: 767px) {
	
	#userJoinPage .join-container form input.btn-a:hover {
		opacity: 0.9;	
	}
	
	#userJoinPage .join-container form #userId:hover::placeholder {
		font-size: 18px;
	}
	
	#userJoinPage .join-container form #userPw:hover::placeholder {
		font-size: 18px;
	}
	
	#userJoinPage .join-container form #pwConfirm:hover::placeholder {
		font-size: 18px;
	}

}

/* #userJoinPage .container .join-container form input.btn-a::placeholder {
	font-size: 30px;

} */

#userJoinPage .join-container #account-check {
	background-color: #ff0080;
	width: 100px;
	height: 40px;
	
	border-radius: 17px;
	
	font-size: 1.1em;
}

#userJoinPage .join-container #account-check:hover {
	opacity: 0.9;
}

#userJoinPage .join-container .optional-container {
	text-align: center;
	line-height: 35px;
} 

#userJoinPage .join-container .category-button {
	display: inline-block;
	
	width: 20px;
	height: 20px;
	border: 1px solid green;
}

#userJoinPage .join-container .category-button:hover {
	cursor: pointer;
	
}


#userJoinPage .join-container select {
	color: #000000;
	
	width: 200px; /* 원하는 너비설정 */
    padding: .8em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background-image: url('../img/expand_more_select.png'); /* 네이티브 화살표를 커스텀 화살표로 대체 */
    background-repeat: no-repeat;
    background-position: right;
    border: 1px solid #999;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    margin: 10px 0 0;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
#userJoinPage .join-container select::-ms-expand {
    display: none;
}

#userJoinPage .join-container input[type="checkbox"] + label{
	display: inline-block;
	width: 35px;
	height: 35px;

	top: 11px;

	border:3px solid #707070;
	position: relative;
  }
#userJoinPage .join-container input[id="optional-checkbox"]:checked + label::after{
	content:'✔';
	font-size: 40px;
	line-height: 20px;
	width: 10px;
	height: 10px;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 0px;
 }

#userJoinPage .join-container form input.btn-b {

	border-radius: 20px;
	margin-top: 10px;
	
	width: 120px;
	height: 50px;
	font-size: 20px;
	color: black;

}

#userJoinPage .join-container form input.email-btn {
	width: 150px;
}

/*============= END 회원가입 페이지 ==============*/
