<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.seaduckene.user.mapper.IUserMapper">
	
	<resultMap type="kr.co.seaduckene.user.command.Categories" id="categories">
		<result property="categoryMajorTitle" column="category_major_title"/>
		<collection property="categoryMinorList" resultMap="minorList"/>
	</resultMap>
	
	<resultMap type="String" id="minorList">
		<result property="categoryMinorTitle" column="category_minor_title"/>
	</resultMap>
	
	<select id="getCategories" resultMap="categories">
		SELECT category_major_title, category_minor_title From category
	</select>
	
</mapper>
