<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.seaduckene.common.IAddressMapper">

	<sql id="delete_address_where">
		<foreach collection="deleted_adderss_count" item="item" index="index" separator="," open="(" close=")">
			(SELECT tbl2.address_no
				  FROM (
					  SELECT ROWNUM rn, tbl1.*
						  FROM (
								SELECT *
								FROM address
								WHERE address_user_no = #{userNo}
								ORDER BY address_representative DESC, address_no 
						  ) tbl1
					  ) tbl2
			  WHERE rn = #{item})
		</foreach>
	</sql>

	<insert id="addAddress">
		INSERT INTO address VALUES
		(address_seq.NEXTVAL,
		#{addressDetail}, #{addressBasic}, #{addressZipNum}, default, #{addressUserNo})
	</insert>

	<select id="checkAddr" resultType="int">
		SELECT COUNT(*) FROM address
		WHERE address_user_no=#{userNo} AND
		TRIM(address_detail)=#{OrderAddressDetail}
	</select>

	<update id="updateAddr">
		UPDATE address SET address_detail = #{addressDetail}, address_basic = #{addressBasic}, address_zip_num = #{addressZipNum}
		WHERE address_no = #{addressNo}
	</update>
	
	<select id="getUserAddr" resultType="address">
		SELECT * FROM address WHERE address_user_no = #{userNo} ORDER BY address_representative DESC, address_no 
	</select>	
	
	<insert id="addNewAddress">
		INSERT INTO address VALUES (address_seq.NEXTVAL, #{addressDetail}, #{addressBasic}, #{addressZipNum}, #{addressRepresentative}, #{addressUserNo})
	</insert>
	
	<delete id="deleteUserAddress">
		DELETE FROM address 
		WHERE address_no in <include refid="delete_address_where" />
	</delete>	

</mapper>