<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.seaduckene.common.IAddressMapper">

	<insert id="addAddress">
		INSERT INTO address VALUES
		(address_seq.NEXTVAL,
		#{addressDetail}, #{addressBasic}, #{addressZipNum}, default, #{addressUserNo})
	</insert>

	<select id="checkAddr" resultType="int">
		SELECT COUNT(*) FROM address
		WHERE address_user_no=#{userNo} AND
		TRIM(address_detail)=#{OrderAddressDetail}
	</select>

	<update id="updateAddr">
		UPDATE address SET address_detail = #{addressDetail}, address_basic = #{addressBasic}, address_zip_num = #{addressZipNum}
		WHERE address_no = #{addressNo}
	</update>

</mapper>