<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.seaduckene.board.mapper.IBoardReplyMapper">
	
	<insert id="replyRegist">
		INSERT INTO reply
		(reply_no, reply_content, reply_board_no ,reply_user_no)
		VALUES(reply_no_seq.NEXTVAL, #{replyContent}, #{replyBoardNo}, #{replyUserNo}) 
	</insert>
	
  	<select id="getList" resultType="boardReplyList">
	<![CDATA[
	SELECT * FROM
 	  	(
	  	SELECT ROWNUM AS rn, tbl.* FROM
			 (
                SELECT * FROM reply r
                WHERE r.reply_board_no = #{bno}
                ORDER BY r.reply_no DESC
              ) tbl
        )
		WHERE rn > (#{paging.pageNum}-1) * #{paging.cpp}
		AND rn <= #{paging.pageNum} * #{paging.cpp}
 	 ]]>
  </select>
  
  <select id="getTotal" resultType="int">
  	SELECT COUNT(*)
  	FROM reply
  	WHERE reply_board_no = #{bno}
  </select>
   

	
</mapper>















