<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.seaduckene.board.mapper.IBoardMapper">

	<resultMap type="board" id="boardCLOB">
		<result property="boardContent" column="board_content" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>

	<resultMap type="boardUser" id="boardUserCLOB">
		<result property="boardContent" column="board_content" jdbcType="CLOB" javaType="java.lang.String" />
	</resultMap>
	
	<select id="list" resultType="boardImage">
		<![CDATA[
		SELECT *
		FROM
		    (
		    SELECT ROWNUM AS rn, tbl.* FROM
		        (
		        SELECT d.*, i.*, c.*, u.user_nickname AS writer
                FROM board d
                INNER JOIN boardImage i
                ON d.board_no = i.board_board_no
                INNER JOIN category c
            	ON d.board_category_no = c.category_no
            	INNER JOIN duck_user u
            	ON d.board_user_no = u.user_no
		        WHERE d.board_category_no = #{categoryNo}
                ORDER BY d.board_no DESC
		        ) tbl
		    )
		WHERE rn > (#{paging.pageNum}-1) * #{paging.cpp}
		AND rn <= #{paging.pageNum} * #{paging.cpp}
		]]>
	</select>
	
	<select id="getCategory" resultType="category">
		SELECT * FROM category
		WHERE category_no = #{categoryNo}
	</select>
	
	<select id="proList" resultType="prodcut">
		SELECT *
		FROM
		    (
		    SELECT ROWNUM AS rn, tbl.* FROM
		        (
		        SELECT * FROM product
		        WHERE product_category_no = #{categoryNo}
		        ORDER BY product_reg_date DESC
		        ) tbl
		    )
	</select>
	
	<!-- 글 등록 -->
	<insert id="write">
		INSERT INTO board
		(board_no, board_title, board_content , board_user_no, board_category_no)
		VALUES(board_no_seq.NEXTVAL, #{boardTitle}, #{boardContent}, #{boardUserNo}, #{boardCategoryNo})
	</insert>
	
	<!-- 글 상세 보기 -->
	<select id="content" resultMap="boardCLOB">
		SELECT * FROM board
		WHERE board_no = #{boardNo}
	</select> 
	
	<!-- 수정 -->
	<update id="update">
		UPDATE board
		SET board_title=#{boardTitle}, board_content=#{boardContent}, board_reg_date = sysdate
		WHERE board_no = #{boardNo}
	</update>

	<!-- 삭제 -->
	<delete id="delete">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>

	<select id="bUserList" resultMap="boardUserCLOB">
		<![CDATA[
		SELECT * FROM
         (SELECT ROWNUM AS rn,tbl.* FROM
         ( SELECT DISTINCT c.category_no, b.board_no, b.board_title, b.board_views, c.category_major_title, c.category_minor_title, d.user_nickname, d.user_no
                     FROM duck_user d INNER JOIN favorite f
                                      ON f.favorite_user_no= d.user_no
                                      INNER JOIN category c
                                      ON f.favorite_category_no = c.category_no
                                      INNER JOIN board b
                                      ON c.category_no = b.board_category_no
                                      WHERE d.user_no=1)tbl)
                                WHERE rn > 0  AND rn <= 9
                                ORDER BY board_views DESC
		]]>
	</select>
	
	<select id="bUserNoList" resultMap="boardUserCLOB">
		<![CDATA[
		SELECT *
		FROM
		    (
		    SELECT ROWNUM AS rn, tbl.* FROM
		        (
		            SELECT b.board_no, b.board_title, b.board_content, b.board_views, c.category_major_title, c.category_minor_title, d.user_nickname
		            FROM board b INNER JOIN category c
		                             ON b.board_category_no = c.category_no
		                             INNER JOIN duck_user d
		                             ON b.board_user_no = d.user_no
		        ) tbl
		    ) s
		WHERE rn > 0
		AND rn <= 9
		ORDER BY s.category_minor_title DESC, s.board_views DESC
		]]>
	</select>
	
	<select id="noticeList" resultType="notice">
		<![CDATA[
		SELECT *
		FROM
		    (
		    SELECT ROWNUM AS rn, tbl.* FROM
		        (
		            SELECT *
		            FROM notice
		            ORDER BY notice_no DESC
		        ) tbl
		    ) s
		WHERE rn > 0
		AND rn <= 5
		]]>
	</select>
	
	<select id="noticeLists" resultType="notice">
		<![CDATA[
		SELECT *
		FROM
		    (
		    SELECT ROWNUM AS rn, tbl.* FROM
		        (
		            SELECT *
		            FROM notice
		            ORDER BY notice_no DESC
		        ) tbl
		    ) s
		WHERE rn > (#{pageNum}-1) * #{cpp}
		AND rn <= #{pageNum} * #{cpp}
		]]>
	</select>
	
	<!-- boardNo 찾기 -->
	<select id="boardNoSearch" resultType="int">
		SELECT s.board_no FROM
			(
			SELECT ROWNUM AS rn, tbl.* FROM 
				(
					SELECT board_no FROM board
					WHERE board_user_no = #{boardUserNo}
					ORDER BY board_reg_date DESC
				) tbl
			) s
		WHERE rn = 1 
	</select>
	
	<insert id="boardImageAdd">
		INSERT INTO boardImage VALUES(board_image_no_seq.NEXTVAL, #{UUID}, #{boardNo}, 1)
	</insert>
	
	<update id="addViewCount">
		UPDATE board SET board_views = board_views + 1
		WHERE board_no = #{boardNo}
	</update>
	
	<select id="getMyList" resultType="board">
		<![CDATA[
		SELECT *
		FROM
		    (
		    SELECT ROWNUM AS rn, tbl.* FROM
		        (
		            SELECT *
		            FROM board
		            WHERE board_user_no=#{userNo}
		        ) tbl
		    ) s
		WHERE rn > (#{page.pageNum}-1) * #{page.cpp}
		AND rn <= #{page.pageNum} * #{page.cpp}
		]]>
	</select>
	
</mapper>















